.contact-container{
    border: solid 2px;
    background-color:#FF6B2C;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    
    
    
}
.contact{
    color:black;
    margin-left: 40%;
    
}
.form-info{
    color: black;
    margin-left: 20%;
    margin-right: 20%;
    
}
#Message{
    height: 300px;
    width: 100%;
}
.elan-logo{
    margin-top: 15px;
    width: 180px;
    height: 110px;
}
#txt{
    width: 100%;
    
    
}
#email{
    width: 100%;
}
input[type="submit"]{
    background-color: rgb(46, 105, 224);
    border: 70%;
    
    color:black;
    width: 100%;
}
textarea{                   
    resize:none;
    
}

